@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

html,
body,
div,
p,
strong,
span,
a,
b,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
del,
img,
i,
em,
select,
button,
textarea,
input {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

/*body{-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}*/
body {
    background: #fff;
    font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #333;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a,
img,
button,
input,
textarea,
select {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type="text"],
input[type="hidden"],
input[type="password"],
button,
textarea,
select {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", sans-serif;
}

select::-ms-expand {
    display: none;
}

input::-ms-clear {
    display: none;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.hidden {
    overflow: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.cell-box {
    font-size: 0;
}

.cell-box:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.cell-box .cell {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

/*scroll*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

::-webkit-scrollbar-button:vertical {
    display: none
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e47e30;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #e47e30;
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: #e47e30;
}

.bd_weixin_popup,
.bsBox {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}