@use "./mixin.scss" as *;

$color: #e47e30;

@keyframes o-upfade-top {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rings {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes line-1 {
  0% {
    stroke-dashoffset: 638;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes line-2 {
  0% {
    stroke-dashoffset: 526;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes line-3 {
  0% {
    stroke-dashoffset: 414;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes line-4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes o-run {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 90px;
    height: 90px;
  }
  100% {
    width: 30px;
    height: 100px;
  }
}
@keyframes o-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes o-scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.wrapper {
  width: 81.25vw;
  max-width: 1560px;
  margin: 0 auto;
  position: relative;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@media screen and (min-width: 1025px) {
  .dom-loaded {
    .header {
      .nav {
        .drop {
          transition: all 0.3s ease;
        }
      }
    }
    .ope {
      .box {
        .ewm-hide,
        .lang-hide {
          transition: all 0.3s ease;
        }
      }
    }
  }
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0;
  transition: all 0.3s ease;
  z-index: 9;
  .main {
    text-align: center;
  }
  .logo {
    position: absolute;
    left: 3.125vw;
    top: 50%;
    transform: translateY(-50%);
    img {
      display: block;
      height: 60px;
      transition: all 0.3s ease;
      &.hide {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }
  .nav {
    @include inline-middle;
    text-align: left;
    li {
      @include inline-top;
      margin-left: 2vw;
      position: relative;
      a.single {
        display: block;
        font-size: 18px;
        line-height: 120px;
        color: #fff;
        padding: 0 10px;
        position: relative;
        transition: all 0.3s ease;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 8px;
          background-color: $color;
          transform: scaleX(0);
          transform-origin: left center;
          transition: transform 0.3s ease;
        }
      }
      .drop {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 160px;
        padding: 15px 0;
        background-color: #ffffff;
        opacity: 0;
        visibility: hidden;
        a {
          display: block;
          text-align: center;
          font-size: 18px;
          line-height: 60px;
          color: #333;
          transition: all 0.3s ease;
          @media screen and (min-width: 1025px) {
            &:hover {
              background-color: $color;
              color: #fff;
            }
          }
        }
      }
      @media screen and (min-width: 1025px) {
        &:nth-of-type(1) {
          margin-left: 0;
        }
        &:hover {
          a.single {
            color: $color !important;
            &:before {
              transform: scaleX(1);
            }
          }
          .drop {
            opacity: 1;
            visibility: visible;
          }
        }
        &.active {
          a.single {
            color: $color !important;
          }
        }
      }
    }
  }
  .ope {
    @include inline-middle;
    text-align: left;
    padding: 0 3.125vw 0 5vw;
    .box {
      @include inline-middle;
      position: relative;
      margin-right: 30px;
      &:before {
        content: "";
        width: 18px;
        height: 18px;
        @include inline-middle;
        @include backcover;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      &.wechat {
        &:before {
          background-image: url("../images/icon-1-1.png");
        }
      }
      &.sina {
        &:before {
          background-image: url("../images/icon-2-1.png");
        }
      }
      &.lang {
        &:before {
          background-image: url("../images/icon-5-1.png");
        }
      }
      span {
        @include inline-middle;
        font-size: 14px;
        color: #fff;
        padding-left: 10px;
        cursor: pointer;
        transition: color 0.3s ease;
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 4px solid #fff;
          @include inline-middle;
          margin: -3px 0 0 5px;
          transition: border 0.3s ease;
        }
      }
      .ewm-hide {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -60px;
        padding-top: 24px;
        width: 120px;
        opacity: 0;
        visibility: hidden;
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #fff;
          display: block;
          margin: 0 auto;
          position: relative;
          z-index: 2;
        }
        .img {
          background-color: #fff;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }
        img {
          display: block;
          width: 100%;
        }
      }
      .lang-hide {
        position: absolute;
        width: 90px;
        top: 100%;
        left: 50%;
        margin-left: -45px;
        padding-top: 24px;
        opacity: 0;
        visibility: hidden;
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #fff;
          display: block;
          margin: 0 auto;
          position: relative;
          z-index: 2;
        }
        .link {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }
        a {
          display: block;
          font-size: 12px;
          line-height: 30px;
          color: $color;
          margin-bottom: 1px;
          text-align: center;
          background-color: #fff;
          transition: all 0.3s ease;
          @media screen and (min-width: 1025px) {
            &:hover {
              background-color: $color;
              color: #fff;
            }
          }
        }
      }
      &:hover {
        .ewm-hide,
        .lang-hide {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    a.btn {
      @include inline-middle;
      width: 120px;
      font-size: 14px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      background-color: $color;
      border-radius: 6px;
    }
  }
  &.down {
    .logo {
      img {
        height: 40px;
      }
    }
    .nav {
      li {
        a.single {
          line-height: 80px;
        }
      }
    }
  }
  &:hover,
  &.down {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    .logo {
      img {
        &.show {
          opacity: 0;
        }
        &.hide {
          opacity: 1;
        }
      }
    }
    .nav {
      li {
        a.single {
          color: #373838;
        }
      }
    }
    .ope {
      .box {
        &.wechat {
          &:before {
            background-image: url("../images/icon-1-2.png");
          }
        }
        &.sina {
          &:before {
            background-image: url("../images/icon-2-2.png");
          }
        }
        &.lang {
          &:before {
            background-image: url("../images/icon-5-2.png");
          }
        }
        span {
          color: #373838;
          &:after {
            border-top: 4px solid #373838;
          }
        }
      }
    }
  }
}

/* other */
.fixed-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-image: linear-gradient(-135deg, #faa701, #e47e30);
  display: none;
  .close {
    width: 40px;
    height: 40px;
    @include backcontain;
    position: absolute;
    top: 3.125vw;
    right: 3.125vw;
    cursor: pointer;
    z-index: 3;
  }
  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .box {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin-bottom: 4.5vw;
  }
  input {
    display: block;
    width: 100%;
    height: 100px;
    border-bottom: 4px solid #fff;
    background-color: transparent;
    padding: 0 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

/* footer */
.footer {
  position: relative;
  padding: 0 3.125vw;
  background-color: #2f3e51;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-image: linear-gradient(-90deg, #e47e30, #8e2623);
  }
  .top-block {
    display: flex;
    justify-content: space-around;
    padding: 4.5vw 0 3.125vw;
  }
  .logo {
    img {
      display: block;
      height: 60px;
    }
  }
  .ewm {
    margin-top: 2vw;
    font-size: 0;
    .box {
      @include inline-top;
      width: 120px;
      margin-left: 20px;
      text-align: center;
      &:nth-of-type(1) {
        margin-left: 0;
      }
      img {
        display: block;
        width: 100%;
      }
      p {
        font-size: 14px;
        color: #fff;
        margin-top: 10px;
      }
    }
  }
  .nav {
    &.m-show {
      display: none;
    }
    .box {
      @include inline-top;
      margin-left: 6.25vw;
      &:nth-of-type(1) {
        margin-left: 0;
      }
    }
    h3 {
      font-size: 18px;
      color: #fff;
      a {
        color: #fff;
      }
    }
    .link {
      margin-top: 20px;
      a {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.3);
        margin-top: 15px;
        transition: all 0.3s ease;
        &:nth-of-type(1) {
          margin-top: 0;
        }
        @media screen and (min-width: 1025px) {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .mid-block {
    padding: 2vw 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    padding-right: calc(360px + 6.25vw);
    .left-box {
      h3 {
        font-size: 14px;
        color: #fff;
      }
      .link {
        margin-top: 20px;
      }
      a {
        @include inline-top;
        font-size: 14px;
        color: #fff;
        &:after {
          content: "";
          width: 1px;
          height: 10px;
          background-color: #fff;
          @include inline-middle;
          margin: 0 30px;
        }
        &:last-of-type {
          &:after {
            display: none;
          }
        }
      }
    }
    .right-box {
      position: absolute;
      right: 0;
      bottom: 2vw;
      width: 360px;
      height: 48px;
      cursor: pointer;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -3px;
      }
      input {
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid #596574;
        padding: 0 20px;
        font-size: 14px;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        border-radius: 24px;
      }
      ul {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        background-color: #596574;
        z-index: 1;
        text-align: left;
        display: none;
        max-height: 192px;
        overflow: auto;
        li {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s ease;
          }
          a {
            position: relative;
            display: block;
            font-size: 14px;
            color: #fff;
            line-height: 48px;
            padding: 0 20px;
            transition: all 0.3s ease;
            z-index: 2;
          }
          &:hover {
            &:before {
              opacity: 1;
            }
            a {
              color: #333;
            }
          }
        }
      }
      &.open {
        ul {
          display: block;
        }
      }
    }
  }
  .bot-block {
    padding: 2vw 0;
    position: relative;
    p {
      font-size: 14px;
      line-height: 28px;
      color: #fff;
      a {
        color: #fff;
        &:nth-of-type(2) {
          margin-left: 10px;
        }
      }
    }
  }
  .share {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
    a {
      @include inline-top;
      float: none;
      padding: 0;
      margin: 0 0 0 10px;
      width: 48px;
      height: 48px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      @include backimg;
      transition: all 0.3s ease;
    }
  }
}

.fixed-right {
  position: fixed;
  right: 3.125vw;
  bottom: 10%;
  z-index: 10;
  .close {
    width: 18px;
    height: 18px;
    @include backcontain;
    position: absolute;
    right: 0;
    top: -20px;
    cursor: pointer;
  }
  img {
    display: block;
    width: 160px;
  }
}

@media screen and (max-width: 1600px) {
  .header .nav li {
    margin-left: 10px;
  }
  .header .nav li a.single {
    font-size: 16px;
    line-height: 100px;
  }
  .header .nav li .drop a {
    font-size: 16px;
    line-height: 50px;
  }
  .header .ope .box {
    margin-right: 20px;
  }
  .footer .nav .box {
    margin-left: 3.125vw;
  }
  .fixed-search h3 {
    font-size: 50px;
  }
  .fixed-search input {
    height: 90px;
  }
}
@media screen and (max-width: 1366px) {
  .header .logo img {
    height: 50px;
  }
  .header .nav li a.single {
    font-size: 15px;
  }
  .header .nav li .drop a {
    font-size: 14px;
    line-height: 48px;
  }
  .header .ope a.btn {
    width: 100px;
    line-height: 36px;
  }
  .header .ope {
    padding: 0 3.125vw;
  }
  .footer .ewm .box {
    width: 100px;
  }
  .footer .mid-block .right-box {
    width: 300px;
  }
  .fixed-search h3 {
    font-size: 40px;
  }
  .fixed-search input {
    height: 80px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .header .nav li {
    margin-left: 0;
  }
  .header .ope .box {
    margin-right: 10px;
  }
  .footer .ewm .box {
    width: 80px;
  }
  .footer .ewm .box p {
    font-size: 12px;
  }
  .footer .nav h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 60px;
    background-color: #fff;
    .logo {
      left: 20px;
      img {
        height: 26px !important;
        &.show {
          opacity: 0;
        }
        &.hide {
          opacity: 1;
        }
      }
    }
    .main {
      padding: 15px 64px 15px 130px;
    }
    .nav {
      position: fixed;
      top: 60px;
      left: 100%;
      width: 100%;
      background-color: #fff;
      padding: 60px 0;
      margin: 0;
      text-align: left;
      overflow: auto;
      z-index: 3;
      border-top: 1px solid #f5f5f5;
      transition: left 0.3s linear;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      &.active {
        left: 0;
      }
      li {
        display: block;
        margin: 0;
        padding: 0 30px;
        a.single {
          font-size: 16px;
          color: #373838;
          line-height: 50px !important;
          padding: 0;
          text-align: center;
        }
        .drop {
          display: none;
        }
      }
    }
    .ope {
      padding: 0;
      .box {
        &.wechat,
        &.sina,
        &.phone {
          display: none;
        }
        &.lang {
          &:before {
            display: none;
            background-image: url("../images/icon-5-2.png");
          }
        }
        span {
          color: #373838;
          font-size: 12px;
          padding: 0;
          &:after {
            border-top: 4px solid #373838;
          }
        }
      }
      a.btn {
        width: 70px;
        line-height: 30px;
        font-size: 12px;
      }
    }
  }
  .mNavBtn {
    display: block;
    width: 24px;
    height: 16px;
    right: 20px;
    top: 22px;
    position: fixed;
    cursor: pointer;
    z-index: 4;
    &.active {
      .line2 {
        display: none;
      }
      .line1 {
        transform: rotate(45deg);
        top: 7px;
      }
      .line3 {
        transform: rotate(-45deg);
        bottom: 7px;
      }
    }
    span {
      position: absolute;
      left: 0;
      width: 24px;
      height: 2px;
      background: $color;
      transition: all 0.3s ease;
      &.line1 {
        top: 0;
      }
      &.line2 {
        top: 7px;
      }
      &.line3 {
        bottom: 0;
      }
    }
  }
  .fixed-right img {
    width: 80px;
  }
  .fixed-search .close {
    top: 5%;
    right: 5%;
  }
  .fixed-search h3 {
    font-size: 30px;
  }
  .fixed-search input {
    height: 60px;
    border-bottom-width: 2px;
  }
  .footer {
    padding: 0 5%;
  }
  .footer .top-block {
    padding: 30px 0 20px;
    display: block;
  }
  .footer .logo {
    display: none;
  }
  .footer .logo img {
    height: 50px;
    margin: 0 auto;
  }
  .footer .nav.m-hide {
    display: none;
  }
  .footer .nav.m-show {
    display: block;
  }
  .footer .ewm {
    margin-top: 20px;
    display: flex;
    justify-content: space-betweem;
  }
  .footer .ewm .box {
    margin-left: 10px;
  }
  .footer .mid-block {
    padding: 20px 0;
  }
  .footer .mid-block .left-box .link {
    margin-top: 10px;
  }
  .footer .mid-block .left-box a:after {
    margin: 0 10px;
  }
  .footer .mid-block .right-box {
    position: relative;
    width: 100%;
    margin-top: 20px;
    bottom: auto;
  }
  .footer .bot-block {
    padding: 20px 0;
  }
  .footer .share {
    display: none;
  }
  .footer .bot-block p {
    line-height: 24px;
  }
  .footer .nav .box {
    display: block;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: padding 0.3s linear;
    &.active {
      padding-bottom: 20px;
      h3 {
        &:after {
          background-image: url("../images/icon-6-on.png");
        }
      }
    }
  }
  .footer .nav h3 {
    line-height: 50px;
    position: relative;
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      @include backcontain;
      background-image: url("../images/icon-6.png");
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -7px;
    }
  }
  .footer .nav .link {
    display: none;
    margin-top: 0;
    padding: 0 20px;
  }
}
