@use "./mixin.scss" as *;

@media screen and (max-width: 1600px) {

    .about-index-s5 .year-block .item span,
    .member-detail-s1 h3,
    .index-s4 .bot-block .item .date {
        font-size: 50px;
    }

    .c-content .left-block h3,
    .about-index-s1 .title,
    .about-index-s2 .title,
    .about-index-s3 .title,
    .about-index-s4 .title,
    .about-index-s5 .title,
    .index-s1 .item h3 {
        font-size: 40px;
    }

    .member-download-s1 .tab-cont .txt-box h3,
    .index-tit h3 {
        font-size: 36px;
    }

    .about-culture-s1 .item h3,
    .about-culture-s1 .info-block h3,
    .about-intro-s1 .title,
    .contact-s1 .title,
    .news-detail-s1 .top-block h3,
    .index-s4 .mid-block .item h3 {
        font-size: 30px;
    }

    .about-team-s1 .item h3,
    .about-team-s1 .item-1 h3,
    .news-list-s1 .item span,
    .member-data-s1 h3,
    .member-data-s2 h3,
    .index-s4 .tab-tit span.active,
    .index-s4 .bot-block .item h3 {
        font-size: 26px;
    }

    .about-history-s1 .child .item h3,
    .about-history-s1 .child .item p,
    .about-index-s1 .item h3,
    .about-index-s4 .img-block .item p,
    .about-index-s4 .tab-tit .item,
    .about-index-s5 .img-block .item h3,
    .contact-s1 .item p,
    .law-s1 .item a,
    .member-activity-s1 .item h3,
    .news-list-s1 .item h3,
    .member-data-s2 .table .bot span,
    .member-notice-s1 .item .show h3,
    .recruit-s1 .head-box span,
    .recruit-s1 .item .box h3,
    .member-detail-s2 .title h3,
    .member-detail-s2 .left-block .item h3,
    .member-detail-s2 .center-block .tab-tit span,
    .member-detail-s2 .center-block .tab-2 .box .head-box,
    .member-detail-s2 .center-block .tab-3 .item h3,
    .index-s1 .item p,
    .index-s2 .data-info .item h3,
    .index-s2 .data-info .item i,
    .index-s2 .tab-tit .item span,
    .index-s2 .right-block .title h3,
    .index-s3 .tab-para .para,
    .index-s4 .tab-tit span,
    .index-s5 .info span {
        font-size: 20px;
    }

    .c-content .left-block span,
    .news-list-s1 .item i,
    .index-s2 .right-block .title span.date,
    .index-s2 .right-block .table .bot span,
    .index-s4 .mid-block .item .date,
    .index-s4 .bot-block .item .month {
        font-size: 18px;
    }

    .c-content .left-block .box a,
    .about-message-s1 .txt-box,
    .about-index-s1 .para,
    .about-index-s2 .para,
    .about-index-s3 .para,
    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-index-s4 .img-block .item a,
    .about-intro-s1 .para,
    .about-team-s1 .link a,
    .about-team-s1 .item span,
    .about-team-s1 .item-1 span,
    .member-data-s1 .para,
    .member-data-s2 .table .top span,
    .member-distribution-s1 .link a,
    .recruit-s1 .item .show span {
        font-size: 16px;
    }

    .about-culture-s1 .item p,
    .about-culture-s1 .info-block .para,
    .about-history-s1 .tab-tit .item span,
    .about-index-s5 .img-block .item p,
    .about-index-s5 .img-block .item a,
    .about-team-s1 .item .para,
    .about-team-s1 .item-1 .para,
    .contact-s1 .item h3,
    .law-s1 .item span,
    .member-activity-s1 .item span,
    .member-data-s2 .table .top-box span,
    .member-download-s1 .tab-cont .txt-box p,
    .member-notice-s1 .item .para,
    .news-detail-s1 .top-block .item,
    .recruit-s1 .item .box .para,
    .member-detail-s2 .center-block .tab-1 .para,
    .member-detail-s2 .right-block .unit-box li,
    .member-detail-s2 .center-block .tab-2 .box .item,
    .member-detail-s2 .center-block .tab-3 .item span,
    .index-s2 .right-block .title span,
    .index-s3 .tab-tit span,
    .index-s4 .bot-block .item p {
        font-size: 15px;
    }

    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-index-s4 .img-block .item a,
    .about-team-s1 .link a,
    .member-detail-s2 .center-block .tab-tit span,
    .member-detail-s2 .center-block .tab-1 .btn a {
        width: 160px;
    }

    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-team-s1 .link a {
        line-height: 40px;
    }

    .about-index-s4 .img-block .item a,
    .about-index-s5 .button,
    .member-detail-s2 .center-block .tab-1 .btn a {
        line-height: 44px;
    }



    .about-message-s1 .bot-block img {
        height: 60px;
    }

    .about-team-s1 .item-1 .box{
        width: 210px;
    }
    .about-team-s1 .item-1 .para{
        width: calc(100% - 210px);
    }

    .about-culture-s1 .item .icon,
    .member-detail-s2 .left-block .item .img-box {
        width: 100px;
        height: 100px;
    }

    .about-culture-s1 .item .box {
        width: calc(100% - 100px);
    }

    .about-history-s1 .tab-tit .item:after {
        width: 40px;
        height: 50px;
    }

    .about-history-s1 .tab-tit .item:before {
        width: 50px;
        height: 50px;
    }

    .about-history-s1 .child .year {
        font-size: 12.5vw;
    }

    .about-index-s4 .tab-tit .item:before,
    .about-index-s5 .year-block .item i {
        width: 30px;
        height: 30px;
    }

    .about-index-s5 .year-block .item i:after {
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
    }

    .about-index-s5 .img-block {
        // height: calc(158px + 16vw);
    }

    .about-index-s5 .img-block .item p {
        // height: 60px;
    }

    .contact-s1 .item i {
        height: 30px;
    }

    .member-activity-s1 .item h3 {
        line-height: 28px;
        height: 56px;
    }

    .news-list-s1 .item .date {
        width: 100px;
    }

    .news-list-s1 .item h3 {
        width: calc(100% - 100px);
    }

    .member-data-s2 .table .top span {
        line-height: 40px;
    }

    .member-distribution-s1 .link a {
        width: 200px;
        line-height: 46px;
    }

    .member-download-s1 .link .item:before {
        height: 36px;
    }

    .member-download-s1 .tab-cont .txt-box .ewm {
        max-width: 160px;
    }

    .member-notice-s1 .item .show h3:before {
        width: 24px;
        height: 24px;
    }

    .member-detail-s2 .left-block,
    .member-detail-s2 .right-block {
        width: 280px
    }

    .member-detail-s2 .center-block {
        width: calc(100% - 560px - 3vw)
    }

    .member-detail-s2 .right-block .logo-box .item {
        height: 70px;
    }

    .member-detail-s2 .right-block .unit-box .box {
        height: calc(12 * 45px);
    }

    .index-s2 .data-info .item span {
        font-size: 100px;
    }

    .index-s2 .data-info .item h3:before {
        width: 70px;
        height: 70px;
    }

    .index-s3 .tab-tit span {
        line-height: 40px;
    }

    .index-s3 .c-map-cont {
        margin-bottom: 6.25vw;
    }

    .index-s4 .mid-block .item h3 {
        line-height: 40px;
        height: 80px;
    }

    .index-s4 .bot-block .item h3 {
        line-height: 32px;
        // height: 64px;
    }

    .index-s4 .bot-block .item p {
        height: 90px;
    }
    .c-banner form {
        height: 50px;
        max-width: 500px;
    }
    .c-banner input {
        font-size: 15px;
    }
    .search-s2 .item h3 {
        font-size: 18px;
    }

    .search-s2 .item .url {
        font-size: 14px;
    }

    .search-s2 .item span {
        font-size: 14px;
    }
}



@media screen and (max-width: 1366px) {

    .about-index-s5 .year-block .item span,
    .member-detail-s1 h3,
    .index-s4 .bot-block .item .date {
        font-size: 40px;
    }

    .c-content .left-block h3,
    .about-index-s1 .title,
    .about-index-s2 .title,
    .about-index-s3 .title,
    .about-index-s4 .title,
    .about-index-s5 .title,
    .index-s1 .item h3 {
        font-size: 36px;
    }

    .member-download-s1 .tab-cont .txt-box h3,
    .index-tit h3 {
        font-size: 30px;
    }

    .about-culture-s1 .item h3,
    .about-culture-s1 .info-block h3,
    .about-intro-s1 .title,
    .contact-s1 .title,
    .news-detail-s1 .top-block h3,
    .index-s4 .mid-block .item h3 {
        font-size: 24px;
    }

    .about-team-s1 .item h3,
    .about-team-s1 .item-1 h3,
    .news-list-s1 .item span,
    .member-data-s1 h3,
    .member-data-s2 h3,
    .index-s4 .tab-tit span.active,
    .index-s4 .bot-block .item h3 {
        font-size: 20px;
    }

    .about-history-s1 .child .item h3,
    .about-history-s1 .child .item p,
    .about-index-s1 .item h3,
    .about-index-s4 .img-block .item p,
    .about-index-s4 .tab-tit .item,
    .about-index-s5 .img-block .item h3,
    .contact-s1 .item p,
    .law-s1 .item a,
    .member-activity-s1 .item h3,
    .news-list-s1 .item h3,
    .member-data-s2 .table .bot span,
    .member-notice-s1 .item .show h3,
    .recruit-s1 .head-box span,
    .recruit-s1 .item .box h3,
    .member-detail-s2 .title h3,
    .member-detail-s2 .left-block .item h3,
    .member-detail-s2 .center-block .tab-tit span,
    .member-detail-s2 .center-block .tab-2 .box .head-box,
    .member-detail-s2 .center-block .tab-3 .item h3,
    .index-s1 .item p,
    .index-s2 .data-info .item h3,
    .index-s2 .data-info .item i,
    .index-s2 .tab-tit .item span,
    .index-s2 .right-block .title h3,
    .index-s3 .tab-para .para,
    .index-s4 .tab-tit span,
    .index-s5 .info span {
        font-size: 18px;
    }

    .c-content .left-block span,
    .news-list-s1 .item i,
    .index-s2 .right-block .title span.date,
    .index-s2 .right-block .table .bot span,
    .index-s4 .mid-block .item .date,
    .index-s4 .bot-block .item .month {
        font-size: 16px;
    }

    .c-content .left-block .box a,
    .about-message-s1 .txt-box,
    .about-index-s1 .para,
    .about-index-s2 .para,
    .about-index-s3 .para,
    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-index-s4 .img-block .item a,
    .about-intro-s1 .para,
    .about-team-s1 .link a,
    .about-team-s1 .item span,
    .about-team-s1 .item-1 span,
    .member-data-s1 .para,
    .member-data-s2 .table .top span,
    .member-distribution-s1 .link a,
    .recruit-s1 .item .show span {
        font-size: 15px;
    }

    .about-culture-s1 .item p,
    .about-culture-s1 .info-block .para,
    .about-history-s1 .tab-tit .item span,
    .about-index-s5 .img-block .item p,
    .about-index-s5 .img-block .item a,
    .about-team-s1 .item .para,
    .about-team-s1 .item-1 .para,
    .contact-s1 .item h3,
    .law-s1 .item span,
    .member-activity-s1 .item span,
    .member-data-s2 .table .top-box span,
    .member-download-s1 .tab-cont .txt-box p,
    .member-notice-s1 .item .para,
    .news-detail-s1 .top-block .item,
    .recruit-s1 .item .box .para,
    .member-detail-s2 .center-block .tab-1 .para,
    .member-detail-s2 .right-block .unit-box li,
    .member-detail-s2 .center-block .tab-2 .box .item,
    .member-detail-s2 .center-block .tab-3 .item span,
    .index-s2 .right-block .title span,
    .index-s3 .tab-tit span,
    .index-s4 .bot-block .item p {
        font-size: 14px;
    }

    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-index-s4 .img-block .item a,
    .about-team-s1 .link a,
    .member-detail-s2 .center-block .tab-tit span,
    .member-detail-s2 .center-block .tab-1 .btn a {
        width: 140px;
    }

    .about-message-s1 .bot-block img {
        height: 50px;
    }

    .about-team-s1 .item-1 .box{
        width: 180px;
    }
    .about-team-s1 .item-1 .para{
        width: calc(100% - 180px);
    }

    .about-history-s1 .tab-tit .item::after {
        width: 30px;
        height: 40px;
    }

    .about-history-s1 .child .year {
        font-size: 12.5vw;
    }

    .about-index-s5 .img-block {
        // height: calc(154px + 16vw);
    }

    .about-index-s5 .img-block .item p {
        // height: 56px;
    }

    .index-s2 .data-info .item h3::before {
        width: 60px;
        height: 60px;
    }

    .index-s2 .data-info .item span {
        font-size: 80px;
    }

    .index-s2 .tab-tit .item span {
        line-height: 60px;
    }

    .index-s4 .bot-block .item p {
        height: 84px;
    }

    .index-s4 .bot-block .item h3 {
        line-height: 26px;
        // height: 52px;
    }

    .member-detail-s2 .right-block .logo-box .item {
        height: 60px;
    }

    .member-detail-s2 .left-block,
    .member-detail-s2 .right-block {
        width: 260px;
    }

    .member-detail-s2 .center-block {
        width: calc(100% - 520px - 3vw);
    }

    .member-detail-s2 .center-block .tab-2 .box .item span {
        width: 120px;
    }

    .member-detail-s2 .center-block .tab-2 .box .item {
        padding-left: 120px;
    }
    .member-detail-s2 .right-block .unit-box .box{
    	height: calc(12 * 42px);
    }
    .search-s2 .item .url {
        margin-top: 10px;
    }

    .search-s2 .item span {
        margin-top: 15px;
    }
}



@media screen and (max-width: 1200px){
    .about-index-s2 .para{
        max-height: 180px;
    }
    .about-index-s3 a.more{
        margin-top: 3.125vw;
    }
}



@media screen and (max-width: 1024px) {

    .c-content .left-block h3,
    .about-index-s1 .title,
    .about-index-s2 .title,
    .about-index-s3 .title,
    .about-index-s4 .title,
    .about-index-s5 .title,
    .index-s1 .item h3 {
        font-size: 30px;
    }

    .wrapper {
        width: 86vw;
    }

    .c-content .left-block .box a {
        line-height: 40px;
    }

    .c-crumbs a.link {
        line-height: 40px;
    }

    .member-detail-s2 .title h3 {
        line-height: 40px;
    }

    .member-detail-s2 .center-block .tab-tit span {
        line-height: 40px;
    }

    .about-culture-s1 .item .img-box img {
        width: 120%;
    }

    .about-culture-s1 .item p {
        line-height: 24px;
        color: #333;
        display: block;
        margin-top: 15px;
    }

    .about-index-s2 .para {
        max-height: 150px;
        overflow: hidden;
    }

    .about-index-s3 a.more {
        margin-top: 3.125vw;
    }

    .index-s1 .item {
        height: 50vw;
    }

    .index-s1 .scroll{
        display: none;
    }

    .member-detail-s2 .left-block,
    .member-detail-s2 .right-block {
        width: 240px;
    }

    .member-detail-s2 .center-block {
        width: calc(100% - 480px - 3vw);
    }

    .member-detail-s2 .center-block .tab-tit span {
        width: 120px;
    }

    .share-box {
        display: none;
    }
}



@media screen and (max-width: 768px) {
    .c-pd {
        padding-top: 60px;
    }

    .c-crumbs {
        display: none;
    }

    .wrapper {
        width: 100%;
    }

    .large-header {
        display: none;
    }

    .c-content .left-block .title {
        display: none;
    }

    .c-content .flex {
        display: block;
    }

    .c-content .left-block {
        width: 100%;
        position: static;
        padding: 0;
        border-bottom: 1px solid #e6e6e6;
        margin-top: 0;
    }

    .c-content .left-block .link {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .c-content .left-block .box {
        width: 25%;
        position: relative;
        margin: 0;
        border: none !important;
    }

    .c-content .left-block .box a {
        padding: 0;
        text-align: center;
    }

    .c-content .left-block .box:after {
        width: 100%;
        height: 2px;
        right: 0;
        top: auto;
        bottom: 0;
    }

    .c-content .right-block {
        width: 100%;
        padding: 0;
        border: none;
    }

    .about-message-s1 .img-box {
        width: 33.33%;
        margin: 0 20px 10px 0;
    }

    .about-message-s1 .txt-box {
        font-size: 14px;
        line-height: 24px;
    }

    .about-message-s1 .bot-block {
        margin-top: 20px;
    }

    .about-message-s1 .bot-block img {
        height: 40px;
    }

    .about-culture-s1 .items {
        padding: 0;
    }

    .about-culture-s1 .item {
        margin-top: 20px;
    }

    .about-culture-s1 .item .icon {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    .about-culture-s1 .item .i-flex {
        align-items: flex-start;
    }

    .about-culture-s1 .item h3 {
        font-size: 16px;
    }

    .about-culture-s1 .item p {
        margin-top: 10px;
    }

    .about-culture-s1 .item .box {
        width: calc(100% - 60px);
    }

    .about-culture-s1 .item .img-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-culture-s1 .item .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-culture-s1 .item .txt-box {
        padding: 20px;
        position: relative;
    }

    .about-culture-s1 .info-block {
        margin-top: 40px;
    }

    .about-culture-s1 .info-block h3 {
        font-size: 20px;
    }

    .about-culture-s1 .info-block h3:after {
        width: 30px;
        height: 2px;
        margin: 15px 0;
    }

    .about-culture-s1 .info-block .para {
        line-height: 24px;
    }

    .about-culture-s1 .info-block .img-box {
        margin-top: 20px;
    }

    .about-history-s1 {
        padding: 52% 0 40px;
        overflow: hidden;
    }

    .about-history-s1 .tab-cont {
        width: 90%;
        margin-left: 5%;
    }

    .about-history-s1 .tab-tit .item span {
        font-size: 12px;
    }

    .about-history-s1 .tab-tit .item:before {
        width: 30px;
        height: 30px;
    }

    .about-history-s1 .tab-tit .item::after {
        width: 20px;
        height: 26px;
    }

    .about-history-s1 .button-next {
        top: 28vw;
        right: 5vw;
    }

    .about-history-s1 .button {
        width: 30px;
        height: 26px;
    }

    .about-history-s1 .child .year {
        font-size: 40px;
    }

    .about-history-s1 .child .box {
        margin-top: 10px;
        border-radius: 10px;
        padding: 20px;
    }

    .about-history-s1 .child .item h3 {
        font-size: 14px;
    }

    .about-history-s1 .child .item p {
        font-size: 14px;
    }

    .about-index .c-block {
        padding: 0;
    }

    .about-index-s1 .title {
        font-size: 20px;
        position: static;
        text-align: center;
    }

    .about-index-s1 .cont {
        margin-top: 15px;
    }

    .about-index-s1 .para {
        font-size: 1 4px;
        line-height: 24px;
    }

    .about-index-s1 .items {
        margin-top: 20px;
    }

    .about-index-s1 .item {
        width: 100%;
        margin: 20px 0 0;

        &:nth-of-type(1) {
            margin-top: 0;
        }
    }

    .about-index-s1 .item h3 {
        font-size: 16px;
        padding: 40px 20px 20px;
    }

    .about-index-s1 a.more {
        position: static;
        margin: 20px auto 0;
        font-size: 14px;
    }

    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-index-s4 .img-block .item a,
    .member-detail-s2 .center-block .tab-1 .btn a {
        width: 120px;
    }

    .about-index-s1 a.more,
    .about-index-s2 a.more,
    .about-index-s3 a.more,
    .about-team-s1 .link a {
        line-height: 36px;
    }

    .about-index-s4 .img-block .item a,
    .about-index-s5 .button,
    .member-detail-s2 .center-block .tab-1 .btn a {
        line-height: 40px;
    }

    .about-index-s2 .title {
        font-size: 20px;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-index-s2 .img-box {
        width: 100%;
    }

    .about-index-s2 .txt-box {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .about-index-s2 .txt-box:before {
        display: block;
        position: static;
    }

    .about-index-s2 .box {
        margin-top: 10px;
    }

    .about-index-s2 .para {
        max-height: none;
        font-size: 14px;
        line-height: 24px;
    }

    .about-index-s2 a.more {
        margin: 20px auto 0;
        font-size: 14px;
    }

    .about-index-s3 {
        background-attachment: inherit;
    }

    .about-index-s3 .title {
        font-size: 20px;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .about-index-s3 .img-box {
        width: 100%;
        margin-left: 0;
    }

    .about-index-s3 .txt-box {
        position: static;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .about-index-s3 .para {
        font-size: 14px;
        line-height: 24px;
        padding: 30px 0;
    }

    .about-index-s3 a.more {
        margin: 20px auto 0;
        font-size: 14px;
    }

    .about-index-s4 .tab-tit {
        left: 5vw;
        right: 5vw;
    }

    .about-index-s4 .tab-tit .item {
        font-size: 14px;
        padding: 15px 0;
    }

    .about-index-s4 .tab-tit .item:before {
        width: 20px;
        height: 20px;
        display: none;
    }

    .about-index-s4 .tab-tit .item:after {
        height: 2px;
    }

    .about-index-s4 .img-block .item p {
        font-size: 14px;
        line-height: 24px;
    }
    .about-index-s4 .img-block .item a{
    	font-size: 14px;
    }
    .about-index-s4{
    	padding-top: 80px;
    }
    .about-index-s4 .title{
    	font-size: 20px;
    	text-align: center;
    	padding: 0;
    	top: 40px;
    	color: #333;
    }
    .about-index-s4 .img-block{
    	height: 60vw;
    }
    .about-index-s4 .img-block .item .img-box{
    	height: 100%;
    }
    .about-index-s4 .img-block .item img{
    	height: 100%;
    	object-fit: cover;
    }
    .about-index-s5{
    	padding: 60px 5vw 40px;
    }
    .about-index-s5 .title{
    	font-size: 20px;
    	text-align: center;
    	padding: 0;
    }
    .about-index-s5 .block{
    	margin-top: 20px;
    }
    .about-index-s5 .year-block{
    	position: static;
    }
    .about-index-s5 .year-block .item{
    	padding: 30px 0;
    }
    .about-index-s5 .year-block .item span{
    	font-size: 24px;
    }
    .about-index-s5 .img-block{
    	width: 100%;
    	margin: 20px 0 0;
    	padding: 20px;
    	height: auto;
    }
    .about-index-s5 .img-block .item .txt-box{
    	margin: 0;
    	padding: 20px 0 0;
    }
    .about-index-s5 .img-block .item h3{
    	font-size: 14px;
    	line-height: 24px;
    }
    .about-index-s5 .img-block .item p{
    	font-size: 14px;
    	line-height: 24px;
    	height: auto;
    }
    .about-index-s5 .img-block .item a{
    	margin-top: 15px;
    }
    .about-index-s5 .pagination{
    	right: 0;
    	bottom: 0;
    }
    .about-index-s5 .img-block .items{
    	height: 0;
    	position: relative;
    }
    .about-index-s5 .btns{
    	display: none;
    }
    .about-intro-s1 .title{
    	font-size: 20px;
    	text-align: center;
    }
    .about-intro-s1 .para{
    	font-size: 14px;
    	line-height: 24px;
    	margin-top: 15px;
    }
    .about-intro-s1 .img-box{
    	margin-top: 20px;
    }
    .about-team-s1 .link a{
    	margin-right: 10px;
    	width: 90px;
    	font-size: 15px;
    }
    .about-team-s1 .link{
    	text-align: center;
    }
    .about-team-s1 .items,
    .about-team-s1 .items-1{
    	margin-top: 20px;
    }
    .about-team-s1 .item{
    	width: 100%;
    	margin: 20px 0 0;
    	padding: 20px;
    	&:nth-of-type(1){
    		margin-top: 0;
    	}
    }
    .about-team-s1 .item h3{
    	font-size: 16px;
    }
    .about-team-s1 .item span{
    	font-size: 14px;
    	margin-top: 10px;
    	padding-bottom: 15px;
    	margin-bottom: 15px;
    }
    .about-team-s1 .item-1{
        padding: 20px 0;
        display: block;
    }
    .about-team-s1 .item-1 .box{
        width: 100%;
        padding: 0;
    }
    .about-team-s1 .item-1 h3{
        font-size: 16px;
    }
    .about-team-s1 .item-1 span{
        margin-top: 10px;
        font-size: 14px;
    }
    .about-team-s1 .item-1 .para{
        margin-top: 10px;
        width: 100%;
        line-height: 24px;
    }
    .contact-s1 .title{
    	font-size: 20px;
    }
    .contact-s1 .items{
    	padding: 20px 0;
    	display: block;
    }
    .contact-s1 .item{
    	width: 100%;
    	margin: 20px 0 0;
    	padding: 20px;
    	&:nth-of-type(1){
    		margin-top: 0;
    	}
    }
    .contact-s1 .item h3{
    	font-size: 16px;
    	margin-top: 10px;
    }
    .contact-s1 .item p{
    	font-size: 20px;
    }
    .contact-s1 .map{
    	height: 60vw;
    }
    .contact-s1 .map-cont .txt-box{
        width: calc(100% - 110px);
    }
    .contact-s1 .map-cont .txt-box span{
        font-size: 12px;
        line-height: 20px;
    }
    .contact-s1 .map-cont{
    	width: 260px;
    }
    .contact-s1 .map-cont .img-box{
    	width: 100px;
    	height: 48px;
    }
    .amap-info-close{
    	display: none;
    }
    .law-s1 .item a{
    	padding: 15px 90px 15px 0;
    	font-size: 16px;
    }
    .law-s1 .items{
    	margin-bottom: 40px;
    }
    .comm-page li{
    	margin: 0 2px;
    }
    .comm-page li a{
    	width: 30px;
    	line-height: 28px;
    }
    .recruit-s1 .head-box span{
    	font-size: 14px;
    	&:nth-of-type(2),
    	&:nth-of-type(3){
    		display: none;
    	}
    }
    .recruit-s1 .item .show{
    	padding: 15px 20px 15px 0;
    }
    .recruit-s1 .item .show span{
    	font-size: 14px;
    	&:nth-of-type(2),
    	&:nth-of-type(3){
    		display: none;
    	}
    	&:nth-of-type(4){
    		font-size: 12px;
    	}
    }
    .recruit-s1 .head-box{
    	padding: 0 20px 15px 0;
    	border-bottom-width: 2px;
    }
    .recruit-s1 .item .show:after{
    	width: 10px;
    	height: 10px;
    	margin-top: -5px;
    }
    .recruit-s1 .item .hide{
    	padding: 0;
    }
    .recruit-s1 .item .box{
    	padding-top: 20px;
    }
    .recruit-s1 .item .box:last-of-type{
    	margin-top: 20px;
    	padding-bottom: 20px;
    }
    .recruit-s1 .item .box h3{
    	font-size: 16px;
    }
    .recruit-s1 .item .box .para{
    	font-size: 14px;
    	line-height: 24px;
    	margin-top: 15px;
    }
    .recruit-s1 .items{
    	margin-bottom: 40px;
    }
    .news-list-s1 .items{
    	margin-bottom: 40px;
    }
    .news-list-s1 .item:before{
    	display: none;
    }
    .news-list-s1 .item:after{
    	display: none;
    }
    .news-list-s1 .item a{
    	padding: 20px 0;
    	display: block;
    }
    .news-list-s1 .item .date{
    	border: none;
    	width: 100%;
    }
    .news-list-s1 .item span{
    	@include inline-bottom;
    }
    .news-list-s1 .item i{
    	vertical-align: bottom;
    	margin-left: 10px;
    }
    .news-list-s1 .item i:before{
    	display: none;
    }
    .news-list-s1 .item h3{
    	width: 100%;
    	margin-top: 10px;
    	padding: 0;
    	font-size: 16px;
    }
    .news-detail-s1 .top-block{
    	padding-bottom: 20px;
    }
    .news-detail-s1 .top-block h3{
    	font-size: 20px;
    	line-height: 1.2;
    }
    .news-detail-s1 .top-block .info{
    	margin-top: 15px;
    }
    .news-detail-s1 .top-block .item:after{
    	margin: -2px 10px 0;
    }
    .news-detail-s1 .mid-block{
    	padding: 20px 0;
    }
    .news-detail-s1 .mid-block a.back{
    	margin: 20px auto 0;
    	width: 100px;
    	height: 94px;
    }
    .news-detail-s1 .bot-block{
    	margin-top: 0;
    	padding-top: 20px;
    }
    .news-detail-s1 .bot-block a:nth-of-type(1){
    	padding-left: 20px;
    }
    .news-detail-s1 .bot-block a:nth-of-type(2){
    	padding-right: 20px;
    }
    .member-notice-s1 .item .show{
    	padding: 20px 0;
    }
    .member-notice-s1 .item .show h3:before{
    	width: 16px;
    	height: 16px;
    	margin: -2px 10px 0 0;
    }
    .member-notice-s1 .item .show:after{
    	width: 10px;
    	height: 10px;
    	margin-top: -5px;
    }
    .member-notice-s1 .item .show h3{
    	font-size: 16px;
    	margin-right: 50px;
    }
    .member-notice-s1 .item .box{
    	padding: 0 0 20px;
    }
    .member-notice-s1 .item .para{
    	font-size: 14px;
    	line-height: 24px;
    }
    .member-download-s1 .link .item{
    	padding: 20px 0;
    }
    .member-download-s1 .link .item:before{
    	height: 24px;
    }
    .member-download-s1 .link .item:nth-of-type(2){
    	margin-left: 20px;
    }
    .member-download-s1 .tab-cont .flex{
    	display: block;
    }
    .member-download-s1 .tab-cont .txt-box{
    	width: 100%;
    	padding: 0;
    }
    .member-download-s1 .tab-cont .txt-box h3{
    	font-size: 20px;
    	text-align: center;
    }
    .member-download-s1 .tab-cont .txt-box p{
    	margin: 15px 0;
    	font-size: 14px;
    	line-height: 24px;
    }
    .member-download-s1 .tab-cont .img-box{
    	width: 100%;
    	margin-top: 20px;
    }
    .member-download-s1 .tab-cont .txt-box .ewm{
    	margin: 0 auto;
    }
    .member-activity-s1 .items{
    	margin: 0 0 40px;
    }
    .member-activity-s1 .item{
    	width: 100%;
    	margin: 20px 0 0;
    	&:nth-of-type(1){
    		margin-top: 0;
    	}
    }
    .member-activity-s1 .item .txt-box{
    	padding: 15px 0;
    }
    .member-activity-s1 .item h3{
    	font-size: 16px;
    	height: auto;
    }
    .member-data-s1{
    	padding: 20px;
    }
    .member-data-s1 .para{
    	font-size: 14px;
    	line-height: 24px;
    	margin-top: 15px;
    }
    .member-data-s2{
    	margin-top: 40px;
    }
    .member-data-s2 .trend-box{
    	margin-top: 20px;
    	padding: 20px 0;
    }
    .member-data-s2 .trend{
    	height: 200px;
    }
    .member-data-s2 .table{
    	margin-top: 15px;
    	padding: 0 20px;
    }
    .member-data-s2 .table .top-box span{
    	font-size: 12px;
    }
    .member-data-s2 .table .bot-box{
    	margin-top: 10px;
    }
    .member-data-s2 .table .top span{
    	font-size: 12px;
    	line-height: 30px;
    }
    .member-data-s2 .table .bot span{
    	font-size: 12px;
    	line-height: 20px;
		padding: 10px 0;
    }
    .member-data-s2 .table .bot i{
    	margin-right: 5px;
    }
    .member-detail-s1 h3{
    	font-size: 16px;
    }
    .member-detail-s1 span{
    	font-size: 20px;
    }
    .member-detail-s2 .flex{
    	display: block;
    }
    .member-detail-s2 .title h3{
    	font-size: 16px;
    	line-height: 50px;
    }
    .member-detail-s2 .left-block, .member-detail-s2 .right-block{
    	width: 100%;
    }
    .member-detail-s2 .title{
    	padding: 0 20px;
    }
    .member-detail-s2 .left-block .swiper{
    	padding: 0 20px;
    }
    .member-detail-s2 .left-block .pc{
    	display: none;
    }
    .member-detail-s2 .left-block .mobile{
    	height: auto;
    }
    .member-detail-s2 .left-block .item{
    	padding: 20px 0;
    }
    .member-detail-s2 .center-block{
    	width: 100%;
    	margin: 20px 0 0;
    }
    .member-detail-s2 .center-block .tab-tit span{
    	width: calc(33.3% + 1px);
    	font-size: 16px;
    	line-height: 50px;
    	&:last-of-type{
    		border-right: none;
    	}
    }
    .member-detail-s2 .center-block .tab-cont{
    	padding: 20px 0;
    }
    .member-detail-s2 .center-block .tab-1{
    	padding: 0 20px;
    }
    .member-detail-s2 .center-block .tab-1 .para{
    	line-height: 24px;
    }
    .member-detail-s2 .center-block .tab-1 .bot-box{
    	margin-top: 20px;
    	padding-top: 20px;
    	border-top-width: 2px;
    }
    .member-detail-s2 .center-block .tab-1 .btn{
    	margin-top: 20px;
    }
    .member-detail-s2 .center-block .tab-1 .btn a{
    	font-size: 14px;
    }
    .member-detail-s2 .center-block .tab-2{
    	padding: 0 20px;
    }
    .member-detail-s2 .center-block .tab-2 .box .head-box{
    	font-size: 16px;
    	padding-bottom: 15px;
    }
    .member-detail-s2 .center-block .tab-2 .box .item{
    	padding: 10px 0 10px 100px;
    	line-height: 24px;
    }
    .member-detail-s2 .center-block .tab-2 .box .item span{
    	width: 100px;
    }
    .member-detail-s2 .center-block .tab-3{
    	padding: 0 20px;
    }
    .member-detail-s2 .center-block .tab-3 .item h3{
    	padding: 15px 0;
    	font-size: 16px;
    }
    .member-detail-s2 .center-block .tab-3 .item h3:before{
    	width: 16px;
    	height: 16px;
    	margin: -2px 10px 0 0;
    }
    .member-detail-s2 .right-block{
    	margin-top: 20px;
    }
    .member-detail-s2 .right-block .logo-box{
    	padding: 20px;
    }
    .member-detail-s2 .right-block .right-bottom{
    	margin-top: 20px;
    }
    .member-detail-s2 .right-block .unit-box{
    	padding: 20px;
    }
    .member-detail-s2 .right-block .unit-box .box{
    	height: calc(6 * 42px);
    }
    .index-main{
    	padding-top: 60px;
    }
    .index-s1 .button{
    	display: none;
    }
    .index-s1 .item .txt-box{
    	padding: 0 30px;
    }
    .index-s1 .item h3{
    	font-size: 20px;
    	letter-spacing: 0;
    }
    .index-s1 .item p{
    	font-size: 14px;
    	line-height: 24px;
    	letter-spacing: 0;
    	margin-top: 15px;
    }
    .index-s1 .pagination{
    	bottom: 10px;
    }
    .index-s1 .pagination span{
    	width: 10px;
    	height: 10px;
    	margin: 0 2px;
    }
    .index-s2 .data-info .item h3{
    	font-size: 14px;
    }
    .index-s2 .data-info .item h3::before{
    	width: 24px;
    	height: 24px;
    	margin: -5px 10px 0 0;
    }
    .index-s2 .data-info .item span{
    	font-size: 30px;
    }
    .index-s2 .data-info .item .num{
    	margin-top: 10px;
    }
    .index-s2 .data-info .item i{
    	font-size: 12px;
    	margin-left: 10px;
    }
    .index-s2 .data-info .item{
    	margin-left: 40px;
    }
    .index-s2 .tab-wrap{
    	margin-top: 20px;
    }
    .index-s2 .tab-tit .item span{
    	font-size: 14px;
    	line-height: 20px;
    	padding: 10px;
    	display: block;
    }
    .index-s2 .tab-cont .flex{
    	display: block;
    }
    .index-s2 .left-block{
    	width: 100%;
    	padding: 20px 0;
    }
    .index-s2 .left-block .trend{
    	height: 200px;
    }
    .index-s2 .right-block{
    	width: 100%;
    	padding: 0 20px 20px;
    }
    .index-s2 .right-block h3{
    	font-size: 14px;
    }
    .index-s2 .right-block .title span{
    	font-size: 12px;
    }
    .index-s2 .right-block .title span.date{
    	font-size: 14px;
    }
    .index-s2 .right-block .title span:after{
    	margin: 0 10px;
    }
    .index-s2 .right-block .table{
    	margin-top: 20px;
    }
    .index-s2 .right-block .table .top span{
    	font-size: 12px;
    	line-height: 30px;
    }
    .index-s2 .right-block .table .bot span{
		font-size: 12px;
		line-height: 20px;
		padding: 10px 0;
    }
    .index-s4 .top-block{
    	padding: 40px 5% 20px;
        display: block;
    }
    .index-tit h3{
    	font-size: 20px;
    	display: block;
        text-align: center;
    }
    .index-s4 .tab-tit{
        margin-top: 20px;
        text-align: center;
    }
    .index-s4 .tab-tit span,
    .index-s4 .tab-tit span.active{
        font-size: 16px;
    }
    .index-s4 .tab-tit span:after{
        height: 2px;
    }
    .index-s4 .top-block a.more{
        display: none;
    }
    .index-s4 .mid-block{
        padding: 0 5% 20px;
    }
    .index-s4 .mid-block .items{
        width: 100%;
    }
    .index-s4 .mid-block .item .date{
        font-size: 12px;
    }
    .index-s4 .mid-block .item h3{
        font-size: 20px;
        line-height: 24px;
        height: 48px;
        margin: 10px 0 15px;
    }
    .index-s4 .mid-block .pagination span{
        width: 8px;
        height: 8px;
        margin-left: 5px;
    }
    .index-s4 .bot-block .child{
        display: block;
    }
    .index-s4 .bot-block .item{
        border-left: none;
        border-top: 1px solid #e6e6e6;
    }
    .index-s4 .bot-block .item .txt-box{
        padding: 20px;
    }
    .index-s4 .bot-block .item .date{
        font-size: 24px;
    }
    .index-s4 .bot-block .item .month{
        font-size: 14px;
    }
    .index-s4 .bot-block .item h3{
        font-size: 16px;
        line-height: 24px;
        // max-height: 48px;
        // height: auto;
        margin: 15px 0;
    }
    .index-s4 .bot-block .item p{
        font-size: 14px;
        line-height: 24px;
        height: 72px;
    }
    .index-s4 .bot-block .item span{
        margin-top: 15px;
    }
    .index-s5{
        display: block;
    }
    .index-s5 .left-box{
        width: 100%;
        padding: 40px 5vw;
    }
    .index-s5 .info span{
        font-size: 14px;
        line-height: 24px;
    }
    .index-s5 .info span:before{
        width: 16px;
        height: 16px;
        background-size: contain;
        margin: -2px 10px 0 0;
    }
    .index-s5 .info span{
        margin-top: 15px;
    }
    .index-s5 .info{
        margin-top: 20px;
    }
    .index-s5 .right-box{
        width: 100%;
        height: 60vw;
    }
    .index-s5 .map-cont .txt-box{
        width: calc(100% - 110px);
    }
    .index-s5 .map-cont .txt-box span{
        font-size: 12px;
        line-height: 20px;
    }
    .index-s5 .map-cont .txt-box span br{
        display: none;
    }
    .index-s5 .map-cont{
        width: 260px;
    }
    .index-s5 .map-cont .img-box{
        width: 100px;
        height: 48px;
    }
    .member-distribution-s1 .link a{
        width: 120px;
        line-height: 32px;
        font-size: 14px;
        margin: 0 5px;
    }
    .c-map-cont .child{
        display: block !important;
        height: 0;
        overflow: hidden;
        &.active{
            height: auto;
        }
    }
    .c-map-cont .child .dot .cont{
        display: none;
    }
    .c-map-cont .child .dot .range{
        width: 30px;
        height: 30px;
        margin: -15px 0 0 -15px;
    }
    .c-map-cont .child .dot .range:after{
        width: 4px;
        height: 4px;
        margin: -2px 0 0 -2px;
    }
    .c-map-cont .child .dot:after{
        width: 12px;
        height: 16px;
        margin-left: -6px;
        display: none;
    }
    .c-map-cont .child .dot span.name{
        transform: translateX(-50%) scale(.5);
        padding-top: 5px;
        display: none;
    }
    .c-map-cont .m-show{
        height: auto;
        margin-top: 20px;
    }
    .member-distribution-s1 .c-map-cont{
        margin-top: 20px;
    }
    .index-s3 .c-map-cont{
        margin-bottom: 0;
    }
    .index-s3 .tab-cont{
        position: static;
        width: 100%;
        margin-top: 20px;
    }
    .index-s3 .tab-tit span{
        line-height: 36px;
    }
    .index-s3 .tab-tit{
        margin: 0 auto;
    }
    .index-s3 .tab-para{
        margin-top: 15px;
    }
    .index-s3 .tab-para .para{
        font-size: 14px;
        line-height: 24px;
    }
    .index-s3 .c-map-cont .world,
    .index-s3 .c-map-cont .china{
        width: 100%;
        margin: 0;
    }

    .search-s2 .item {
        margin-bottom: 20px;
    }

    .search-s2 .item {
        border-bottom-width: 2px;
    }

    .search-s2 .item a {
        padding: 20px 0;
    }

    .search-s2 .item .date {
        font-size: 12px;
    }

    .search-s2 .item h3 {
        font-size: 16px;
    }

    .search-s2 .item .url {
        font-size: 12px;
        line-height: 18px;
    }

    .search-s2 .tip {
        text-align: center;
        font-size: 16px;
    }
    .c-banner form {
        height: 40px;
        max-width: 500px;
    }

    .c-banner input {
        font-size: 14px;
    }

    .c-banner button {
        width: 50px;
    }





    .about-message-s1,
    .about-culture-s1,
    .about-index-s1,
    .about-index-s2,
    .about-index-s3,
    .about-intro-s1,
    .about-team-s1,
    .contact-s1,
    .law-s1,
    .recruit-s1,
    .news-list-s1,
    .news-detail-s1,
    .member-notice-s1,
    .member-download-s1 .tab-cont,
    .member-activity-s1,
    .member-data-block,
    .member-detail-s2,
    .index-s2,
    .index-s3,
    .member-distribution-s1,
    .search-s2 {
        padding: 40px 5vw;
    }
}